<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.slash.mapper.CustomerMapper">
	<resultMap type="cn.slash.pojo.Customer" id="customerMap">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="telephone" property="telephone"
			jdbcType="VARCHAR" />
		<result column="address" property="address" jdbcType="VARCHAR" />
		<result column="remark" property="remark" jdbcType="VARCHAR" />
	</resultMap>

	<!-- 客户信息保存的方法 -->
	<insert id="create" parameterType="customerMap" >
		insert into
		tb_customer(
		name,
		telephone,
		address,
		remark)
		values(
		#{name},
		#{telephone},
		#{address},
		#{remark}
		);
	</insert>

</mapper>